page-create-playlist {
    .add-button {
        margin-left: 17px;
        // width: 19.6rem;
    }
    .extras-buttons {
        margin: 15px;
        padding-right: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 3rem;
        >button {
            width: 1rem;
            border-right: 1px solid #000000;
            &last {
                border-right: none
            }
        }
        .extra-button {
            flex: 1 auto;
            display: flex;
            justify-content: center;
        }
        .extra-button:not(:last-child) {
            border-right-width: 2px;
            border-right-style: solid;
        }
    }
}