logo {
    .moodu-logo-container {
        // max-height: 5rem;
        // margin-left: auto;
        // margin-right: auto;
        max-width: 10rem;
        position: fixed;
        display: flex;
        align-content: center;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }
}