edit-profile-button {
    .edit-settings-button {
        // cursor: pointer;
        // font-size: 3rem;
        color: #979797;
        flex-shrink: 1;
        height: 100%;
    }
    .edit-button-wrapper {
        display: flex;
    }
}