newsfeed {
    .song-wrapper {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .song-info-wrapper {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 10px;
    }
    .song-title {
        font-weight: strong;
        font-size: 1.5rem;
    }
    .song-artist {
        font-size: 1.2rem;
        color: #aeaeaf;
    }
    .columns {
        display: flex;
        flex-direction: row;
    }
    .rows {
        display: flex;
        align-items: column;
    }
    .user-picture {
        margin-right: 1.3rem;
        min-width: 6rem;
    }
    .profile-picture {
        border-radius: 3rem;
    }
    .artist-wrapper {
        margin-top: -0.7rem;
    }
}